<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>24 NEWS</title>
  {{!-- Home css --}}
  <link href="../../public/css/home.css" rel="stylesheet" type="text/css" />
  {{!-- Media query --}}
  <link href="../../public/css/media_query.css" rel="stylesheet" type="text/css" />
  {{!-- Font awesome --}}
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {{!-- Animate CSS --}}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.css" rel="stylesheet" type="text/css" />
  {{!-- Font --}}
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  {{!-- Owl carousel --}}
  <link href="../../public/css/owl.carousel.css" rel="stylesheet" type="text/css" />
  <link href="../../public/css/owl.theme.default.css" rel="stylesheet" type="text/css" />
  {{!-- Default CSS --}}
  <link rel="stylesheet" href="../../public/css/detail.css">
  <link rel="stylesheet" href="../../public/css/style_1.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <!-- Modernizr JS -->

</head>

<body>
  {{!-- Header --}}
  {{!-- Topbar --}}
  <div class="container-fluid top-bar border-bottom">
    <div class="container d-flex justify-content-between align-items-center pt-3 pb-3 flex-wrap">
      <div class="left-topbar">
        <a href="/" class="d-block">
          <img src="../../public/images/logo.png" alt="img" class="top-bar-logo">
        </a>
      </div>

      <div class="right-topbar">
        <form action="/Account/Logout" id="frmLogout" method="POST"></form>
        {{#if lcIsAuthenticated}}
        <div class="dropdown pl-2">
          <button class="btn btn-account dropdown-toggle" style="background: none;" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../public/images-upload/{{lcAuthUser.Avatar}}" class="avatar" alt="">
            {{lcAuthUser.Name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Account/Profile">Hồ Sơ</a>
            <a class="dropdown-item" href="/writer/new">Thêm Tin Mới</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">Đăng Xuất</a>
          </div>
        </div>
        {{else}}

        <a href="/Account/Sign-Up" class="topbar-item border-right">
          Đăng Ký
        </a>

        <a href="/Account/Sign-In" class="topbar-item">
          Đăng Nhập
        </a>
        {{/if}}
      </div>
    </div>
  </div>
  {{!-- Logo --}}
  <div class="container-fluid pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 fh5co_padding_menu">
          <form class="search-form my-2 my-lg-0" method="GET" action="/Category/search">
            <input class="form-control mr-sm-2" type="text" name="Search" placeholder="Search">
            <button class="btn bg-secondary rounded-0" type="submit">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>
        <div class="col-12 col-md-8 align-self-center fh5co_mediya_right">
          <div class="text-center d-inline-block">
            <a class="fh5co_display_table">
              <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
            </a>
          </div>
          <div class="text-center d-inline-block">
            <a class="fh5co_display_table">
              <div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
            </a>
          </div>
          <div class="text-center d-inline-block">
            <a href="https://twitter.com/fh5co" target="_blank" class="fh5co_display_table">
              <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
            </a>
          </div>
          <div class="text-center d-inline-block">
            <a href="https://fb.com/fh5co" target="_blank" class="fh5co_display_table">
              <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
            </a>
          </div>
          <div class="d-inline-block text-center dd_position_relative ">
            <select class="form-control fh5co_text_select_option">
              <option>English </option>
              <option>French </option>
              <option>German </option>
              <option>Spanish </option>
            </select>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

  {{!-- Menu --}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/">
        Trang chủ
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Tin Tức Nóng</a>
            <div class="sub-menu">
              <div class="row">
                {{#each lcHotNews}}
                <div class="col-sm-3">
                  <div class="h-100">
                    <a href="/news/{{IDPage}}" class="d-block sub-menu-img">
                      <img src="{{ImgAvatar}}" alt="Image" class="w-100 h-100">
                    </a>
                    <div class="sub-menu-item-content">
                      <a href="/news/{{IDPage}}">
                        {{Title}}
                      </a>
                      <p class="content-option">
                        <a href="/category/{{CatID}}">{{CatID}}</a>
                        <span>-</span>
                        <span>{{Day}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Category/3">Hải Sản</a>
            <div class="sub-menu">
              <div class="row">
                {{#each lcSeafood}}
                <div class="col-sm-3">
                  <div class="h-100">
                    <a href="/news/{{IDPage}}" class="d-block sub-menu-img">
                      <img src="{{ImgAvatar}}" alt="Image" class="w-100 h-100">
                    </a>
                    <div class="sub-menu-item-content">
                      <a href="/news/{{IDPage}}">
                        {{Title}}
                      </a>
                      <p class="content-option">
                        <a href="/category/{{CatID}}">{{CatID}}</a>
                        <span>-</span>
                        <span>{{Day}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Category/2">Nông Sản</a>
            <div class="sub-menu">
              <div class="row">
                {{#each lcAgricultural}}
                <div class="col-sm-3">
                  <div class="h-100">
                    <a href="/news/{{IDPage}}" class="d-block sub-menu-img">
                      <img src="{{ImgAvatar}}" alt="Image" class="w-100 h-100">
                    </a>
                    <div class="sub-menu-item-content">
                      <a href="/news/{{IDPage}}">
                        {{Title}}
                      </a>
                      <p class="content-option">
                        <a href="/category/{{CatID}}">{{CatID}}</a>
                        <span>-</span>
                        <span>{{Day}}</span>
                      </p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Kinh Doanh
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#each lcChildBusiness}}
              <a class="dropdown-item" href="/category/{{CatID}}">{{CatName}}</a>
              {{/each}}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Khoáng Sản
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {{#each lcChildMineral}}
              <a class="dropdown-item" href="/category/{{CatID}}">{{CatName}}</a>
              {{/each}}
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Liên Hệ
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/About_us">Giới Thiệu</a>
              <a class="dropdown-item" href="/Contact_us">Liên Hệ</a>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  {{!-- Body --}}
  {{{body}}}

  {{!-- Footer --}}
  {{!-- Top Footer --}}
  <div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
      <div class="row">
        <div class="col-12 spdp_right py-5"><img src="../../public/images/white_logo.png" alt="img"
            class="footer_logo" /></div>
        <div class="clearfix"></div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="footer_main_title py-3"> About</div>
          <div class="footer_sub_about pb-3"> Nhóm số 6 môn Lập trình web 2.
            <ul class="footer-menu">

            </ul>
          </div>
          <div class="footer_mediya_icon">
            <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
              </a></div>
            <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                <div class="fh5co_verticle_middle"><i class="fa fa-google-plus"></i></div>
              </a></div>
            <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
              </a></div>
            <div class="text-center d-inline-block"><a class="fh5co_display_table_footer">
                <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
              </a></div>
          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <div class="footer_main_title py-3"> Category</div>
          <ul class="footer_menu">
            {{#each lcAllCat}}
            <li><a href="/category/{{CatID}}" class=""><i class="fa fa-angle-right"></i>&nbsp;&nbsp; {{CatName}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
        <div class="col-12 col-md-4 col-lg-4 position_footer_relative">
          <div class="footer_main_title py-3"> Most Viewed Posts</div>
          <div class="footer_makes_sub_font"> Dec 31, 2016</div>
          <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
          <div class="footer_makes_sub_font"> Dec 31, 2016</div>
          <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
          <div class="footer_makes_sub_font"> Dec 31, 2016</div>
          <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
          <div class="footer_position_absolute"><img src="../../public/images/footer_sub_tipik.png" alt="img"
              class="width_footer_sub_img" /></div>
        </div>
      </div>
      <div class="row justify-content-center pt-2 pb-4">
        <div class="col-12 col-md-8 col-lg-7 ">
          <form method="POST" class="form-subscribe d-flex">
            <input type="text" class="form-control subscribe-input" placeholder="Enter your email..."
              aria-describedby="basic-addon1">
            <button type="submit"> <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  {{!-- Bottom Footer --}}
  <div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
      <div class="row  ">
        <div class="col-12 col-md-6 py-4 Reserved"> © Copyright 2020, All rights reserved. Design by <a
            href="/About">Team 6 Web2</a>. </div>
        <div class="col-12 col-md-6 spdp_right py-4">
          <a href="#" class="footer_last_part_menu">Home</a>
          <a href="Contact_us.html" class="footer_last_part_menu">About</a>
          <a href="Contact_us.html" class="footer_last_part_menu">Contact</a>
          <a href="blog.html" class="footer_last_part_menu">Latest News</a></div>
      </div>
    </div>
  </div>


  {{!-- Script --}}
  <script src="js/modernizr-3.5.0.min.js"></script>
  {{!-- Jquery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {{!-- Owl carousel JS --}}
  <script src="../../public/js/owl.carousel.min.js"></script>
  <!-- Waypoints -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
  <!-- Main -->
  <script src="../../public/js/main.js"></script>
  {{!-- Script Bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {{{_sections.js}}}
</body>

</html>