<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>

  {{!-- Font Awesome --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  {{!-- Fonts --}}
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  {{!-- Bootstrap CSS --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="../../public/assets/css/admin.css">
  <link rel="stylesheet" href="../../public/assets/css/table.css">
  <link rel="stylesheet" href="../../public/css/style_1.css">

</head>

<body>
  <div class="container-fluid d-flex justify-content-center mt-3 mb-3">
    <div class="main">
      <div class="row h-100">
        {{!-- Sidebar --}}
        <div class="col-sm-12 col-lg-2 pl-0 pr-0">
          {{!-- Sidebar PC --}}
          <div class="sidebar-pc">
            {{!-- Logo --}}
            <div class="logo">
              <a href="/" class="d-block">
                <img src="../../public/images/logo.png" alt="Image Logo">
              </a>
            </div>

            {{!-- Navbar --}}
            <nav class="w-100">
              <ul class="list">
                <li class="list-item">
                  <a href="/admin" class="list-link">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    Bảng điều khiển
                  </a>
                </li>
                <li class="list-item">
                  <a href="/admin/category" class="list-link active">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    Danh mục
                  </a>
                </li>
                <li class="list-item">
                  <a href="/admin/tags" class="list-link">
                    <i class="fa fa-tags" aria-hidden="true"></i>
                    Thẻ
                  </a>
                </li>
                <li class="list-item">
                  <a href="/admin/news" class="list-link">
                    <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                    Bài viết
                  </a>
                </li>
                <li class="list-item">
                  <a href="/admin/users" class="list-link">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Người dùng
                  </a>
                </li>
              </ul>
            </nav>
            {{!-- Sign out --}}
            <form action="/Account/Logout" id="frmLogout" method="POST"></form>
            <a class="nav-link" href="javascript: $('#frmLogout').submit()">
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Đăng xuất
            </a>

            {{!-- Ads --}}
            <div class="position-relative d-flex justify-content-center">
              <div class="ads">
                <img src="../../public/images/flamenco-lets-get-out-of-here.png" alt="Image Ads">
                <p>Upgrade to <span style="font-weight: bold;">Pro</span> now</p>
                <a href="#" class="btn btn-success mt-2 mb-2">Upgrade</a>
              </div>
            </div>
          </div>


          {{!-- Sidebar Mobile --}}
          <div class="sidebar-mobile">
            {{!-- Logo --}}
            <div class="logo">
              <a href="/" class="d-block">
                <img src="../../public/images/logo.png" alt="Image Logo">
              </a>
            </div>

            {{!-- Navbar --}}
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
              <div class="container">
                <a class="navbar-brand" href="/">
                  <h3>Trang chủ</h3>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a href="/admin" class="nav-link">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        Bảng điều khiển
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/category" class="nav-link active">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Danh mục
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/tags" class="nav-link">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        Thẻ
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/news" class="nav-link">
                        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                        Bài viết
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="/admin/users" class="nav-link">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Người dùng
                      </a>
                    </li>

                    <li class="nav-item">
                      {{!-- Sign out --}}
                      <form action="/Account/Logout" id="frmLogout" method="POST"></form>
                      <a class="nav-link" href="javascript: $('#frmLogout').submit()">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Đăng xuất
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>

        {{!-- Main content --}}
        <div class="col-sm-12 col-lg-10 main-content">
          <div class="container">
            {{!-- Top bar --}}
            <div class="top-bar-admin mb-4">
              <h4>Danh Mục</h4>
              <form class="search-form my-2 my-lg-0" method="GET" action="/Category/search">
                <input class="form-control mr-sm-2" type="text" name="Search" placeholder="Search">
                <button class="btn-search" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </div>

            <a href="#" type="button" class="btn btn-outline-success mb-3">
              <i class="fa fa-plus" aria-hidden="true"></i>
              Thêm mới
            </a>

            {{!-- Card --}}
            <div class="card">
              <div class="card-header">
                <h5>Bảng danh mục</h5>
              </div>
              <div class="card-body">
                {{!-- <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col" class="text-center w-25">Tên Danh Mục</th>
                      <th scope="col" class="text-center">Thuộc Danh Mục</th>
                      <th scope="col" class="text-center">&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each this.listCat}}
                    <tr>
                      <th scope="row">{{CatID}}</th>
                      <td class="text-center">{{CatName}}</td>
                      <td class="text-center">{{ParentCatID}}</td>
                      <td class="text-right">
                        <a href="/admin/category/detail" class="btn btn-success">
                          <i class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                        <a href="/admin/category/edit" class="btn btn-primary">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a href="" class="btn btn-danger">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table> --}}

                <div class="table-responsive-vertical shadow-z-1">
                  <!-- Table starts here -->
                  <table id="table" class="table table-hover table-mc-light-blue">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Tên Danh Mục</th>
                        <th>Thuộc Danh Mục</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each this.listCat}}
                      <tr>
                        <th>{{CatID}}</th>
                        <td>{{CatName}}</td>
                        <td>{{ParentCatID}}</td>
                        <td class="text-right action">
                          <form action="/admin/category/delete?id={{CatID}}" id="frmDelete" method="POST"></form>
                          <a href="/admin/category/detail" class="btn btn-success">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                          </a>
                          <a href="/admin/category/edit" class="btn btn-primary">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                          </a>
                          <a class="btn btn-danger" href="javascript: $('#frmDelete').submit()">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                          </a>
                        </td>
                      </tr>
                      {{/each}}
                    </tbody> 
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-end mb-0">
                    {{#if prev}}
                    <li class="page-item">
                      <a class="page-link" href="/admin/category?page={{prev_value}}">Previous</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                      <a class="page-link" href="/admin/category?page={{prev_value}}">Previous</a>
                    </li>
                    {{/if}}
                    <li class="page-item m-2">
                      <span>{{this.page}} / {{this.nPages}}</span>
                    </li>
                    {{#if next}}
                    <li class="page-item">
                      <a class="page-link" href="/admin/category?page={{next_value}}">Next</a>
                    </li>
                    {{else}}
                    <li class="page-item disabled">
                      <a class="page-link" href="/admin/category?page={{next_value}}">Next</a>
                    </li>
                    {{/if}}
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {{!-- Bootstrap JS --}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  <script src="../../public/assets/js/table.js"></script>
</body>

</html>