<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../public/assets/css/profile.css">
  <link rel="stylesheet" href="../../public/css/style_1.css">
  {{!-- Bootstrap --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  {{!-- Font --}}
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Poppins|Roboto+Slab|Work+Sans&display=swap"
    rel="stylesheet">
  {{!-- Font awesome --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Profile</title>
</head>

<body>
  {{!-- Top bar--}}
  <div class="container-fluid border-bottom top-bar-desktop">
    <div class="container h-100 d-flex justify-content-around align-items-center pt-3 pb-3 flex-wrap">
      <div class="left-top-bar d-flex align-items-center justify-content-between">
        <a href="/">
          <img src="../../public/images/logo.png" class="img-logo" alt="">
        </a>
      </div>

      <div class="search">
        <form class="search-form my-2 my-lg-0" method="GET" action="/Category/search">
          <input class="form-control mr-sm-2 rounded-0" type="text" name="Search" placeholder="Search">
          <button class="btn my-2 my-sm-0 bg-secondary rounded-0" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </form>
      </div>

      <div class="right-top-bar">
        <form action="/Account/Logout" id="frmLogout" method="POST"></form>
        {{#if lcIsAuthenticated}}
        <div class="dropdown pl-2">
          <button class="btn btn-account dropdown-toggle text-dark" style="background: none; color: #ccc" type="button"
            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="../../public/images-upload/{{lcAuthUser.Avatar}}" class="avatar" alt="">
            {{lcAuthUser.Name}}
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/Account/Profile">Hồ sơ</a>
            <a class="dropdown-item" href="/writer/new">Thêm tin tức</a>
            <a class="dropdown-item" href="/admin">Quản lý</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript: $('#frmLogout').submit()">Đăng Xuất</a>
          </div>
        </div>
        {{else}}

        <a href="/Account/Sign-Up" class="top-bar-item">
          Đăng Ký
        </a>

        <a href="/Account/Sign-In" class="top-bar-item">
          Đăng Nhập
        </a>
        {{/if}}
      </div>
    </div>
  </div>

  {{!-- Body content--}}
  <div class="container-fluid mt-2 h-100">
    <div class="row mt-5">
      {{!-- About --}}
      <div class="col-sm-3">
        <div class="avatar-user-square w-100 position-relative ">
          <a href="/account/change-avatar" class="d-block h-100">
            <div class="overlay">
              <div class="overlay-content">
                <i class="fa fa-camera" aria-hidden="true"></i>
              </div>
            </div>
            <div class="avatar-square">
              <img src="../public/images-upload/{{lcAuthUser.Avatar}}" width="100%" height="100%" alt="">
            </div>
          </a>
        </div>
        <p class="content-title">Hồ Sơ</p>
        <div class="mb-3">
          <p class="content-text-about">
            <i class="fa fa-user mr-2" aria-hidden="true"></i>
            {{lcAuthUser.Name}}
          </p>
          {{#if lcAuthUser.Alias}}
          <p class="content-text-about">
            <i class="fa fa-pencil-square mr-2" aria-hidden="true"></i>
            {{lcAuthUser.Alias}}
          </p>
          {{/if}}
          <p class="content-text-about">
            <i class="fa fa-envelope mr-2" aria-hidden="true"></i>
            {{lcAuthUser.Email}}
          </p>
          <p class="content-text-about">
            <i class="fa fa-calendar mr-2" aria-hidden="true"></i>
            {{this.DOB}}
          </p>
        </div>
        <div class="d-flex justify-content-around align-items-center mt-5 flex-row flex-wrap">
          <a href="/account/profile/change-password" class="rounded border-0 btn-change-pass">Change Password</a>
          <a href="/account/profile/edit" class="rounded border-0 btn-edit">Edit</a>
        </div>
      </div>
      {{!-- Main content --}}
      {{!-- Subscriber --}}
      {{#if Subscriber}}
      <div class="col-sm-9">
        <div class="main-content">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#list">
                <i class="fa fa-list" aria-hidden="true"></i>
                List News
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#add">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
              </a>
            </li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container active" id="list">
              ...
            </div>
            <div class="tab-pane container fade" id="add">
              ...
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{!-- Writer --}}
      {{#if Writer}}
      <div class="col-sm-9">
        <div class="main-content">
          {{!-- Nav tabs --}}
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#published">
                <i class="fa fa-list" aria-hidden="true"></i>
                List Published
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#confirmed">
                <i class="fa fa-list" aria-hidden="true"></i>
                List Confirmed
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#not-confirmed">
                <i class="fa fa-list" aria-hidden="true"></i>
                List Not Confirmed Yet
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#not-accepted">
                <i class="fa fa-list" aria-hidden="true"></i>
                List Not Accepted
              </a>
            </li>

          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane container active" id="published">
              <a href="/writer/new" class="btn btn-outline-info text-right mt-3">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
              </a>
              <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col" class="hidden-item-1">Category</th>
                    <th scope="col" class="hidden-item-2">Views</th>
                    <th scope="col" class="hidden-item-3">Day</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.listPublished}}
                  <tr>
                    <th scope="row">{{Title}}</th>
                    <td class="hidden-item-1">{{CatName}}</td>
                    <td class="hidden-item-2">{{View}}</td>
                    <td class="hidden-item-3">{{Day}}</td>
                    <td>
                      <a href="/news/{{IDPage}}" class="btn btn-success">
                        <i class="fa fa-eye" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="tab-pane container fade" id="confirmed">
              <a href="/writer/new" class="btn btn-outline-info text-right mt-3">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
              </a>
              <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col" class="hidden-item-1">Category</th>
                    <th scope="col" class="hidden-item-2">Views</th>
                    <th scope="col" class="hidden-item-3">Day</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.listConfirmed}}
                  <tr>
                    <th scope="row">{{Title}}</th>
                    <td class="hidden-item-1">{{CatName}}</td>
                    <td class="hidden-item-2">{{View}}</td>
                    <td class="hidden-item-3">{{Day}}</td>
                    <td>
                      <a href="/news/{{IDPage}}" class="btn btn-success">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="tab-pane container fade" id="not-confirmed">
              <a href="/writer/new" class="btn btn-outline-info text-right mt-3">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
              </a>
              <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col" class="hidden-item-1">Category</th>
                    <th scope="col" class="hidden-item-2">Views</th>
                    <th scope="col" class="hidden-item-3">Day</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.listNotConfirmedYet}}
                  <tr>
                    <th scope="row">{{Title}}</th>
                    <td class="hidden-item-1">{{CatName}}</td>
                    <td class="hidden-item-2">{{View}}</td>
                    <td class="hidden-item-3">{{Day}}</td>
                    <td class="action">
                      <a href="/news/{{IDPage}}" class="btn btn-success">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>
                      <a href="/news/edit/{{IDPage}}" class="btn btn-primary btn-action">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>

            <div class="tab-pane container fade" id="not-accepted">
              <a href="/writer/new" class="btn btn-outline-info text-right mt-3">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add
              </a>
              <table class="table table-striped mt-3">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col" class="hidden-item-1">Category</th>
                    <th scope="col" class="hidden-item-2">Views</th>
                    <th scope="col" class="hidden-item-3">Day</th>
                    <th scope="col">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.listNotAccepted}}
                  <tr>
                    <th scope="row">{{Title}}</th>
                    <td class="hidden-item-1">{{CatName}}</td>
                    <td class="hidden-item-2">{{View}}</td>
                    <td class="hidden-item-3">{{Day}}</td>
                    <td class="action">
                      <a href="/news/{{IDPage}}" class="btn btn-success">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </a>
                      <a href="/news/edit/{{IDPage}}" class="btn btn-primary btn-action">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {{/if}}
      {{!-- Editor --}}
      {{#if Editor}}
      <div class="col-sm-9">
        <div class="main-content">
          <div class="card-title">
            <h3>Danh mục</h3>
          </div>
          <table class="table table-striped mt-3">
            <thead>
              <tr>
                <th scope="col">Tiêu đề</th>
                <th scope="col" class="hidden-item-1">Danh mục</th>
                <th scope="col" class="hidden-item-2">Lượt xem</th>
                <th scope="col" class="hidden-item-3">Thời gian</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each this.listPublished}}
              <tr>
                <th scope="row">{{Title}}</th>
                <td class="hidden-item-1">{{CatName}}</td>
                <td class="hidden-item-2">{{View}}</td>
                <td class="hidden-item-3">{{Day}}</td>
                <td>
                  <a href="/news/{{IDPage}}" class="btn btn-success">
                    <i class="fa fa-eye" aria-hidden="true"></i></a>
                </td>
                <td>
                  <a href="" class="btn btn-primary"> fa <i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
                <td>
                  <a href="" class="btn btn-primary"> fa <i class="fa fa-pencil" aria-hidden="true"></i></a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      {{/if}}
    </div>
  </div>

  {{!-- Script --}}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  {{!-- Bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  {{!-- Validation --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
  <script src="../public/assets/js/validation.js"></script>
</body>

</html>