<div class="container-fluid paddding mb-5">
	<div class="row mx-0">
		<div class="col-md-6 col-12 paddding animate-box" data-animate-effect="fadeIn">
			<div class="fh5co_suceefh5co_height">
				<a href="/news/{{this.top1.IDPage}}" class="d-block w-100 h-100">
					<img src="{{this.top1.ImgAvatar}}" alt="img" class="w-100 h-100" />
					<div class="fh5co_suceefh5co_height_position_absolute"></div>
					<div class="fh5co_suceefh5co_height_position_absolute_font">
						<div class="color_fff"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{this.top1.Day}}</div>
						<div class=""><a href="/news/{{this.top1.IDPage}}" class="fh5co_good_font">{{this.top1.Title}}</a></div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				{{#each this.topElse}}
				<div class="col-md-6 col-6 paddding animate-box" data-animate-effect="fadeIn">
					<div class="fh5co_suceefh5co_height_2">
						<a href="/news/{{IDPage}}" class="d-block w-100 h-100">
							<img src="{{ImgAvatar}}" alt="img" class="w-100 h-100" />
							<div class="fh5co_suceefh5co_height_position_absolute"></div>
							<div class="fh5co_suceefh5co_height_position_absolute_font_2">
								<div class="color_fff"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{Day}}</div>
								<div class=""><a href="/news/{{IDPage}}" class="fh5co_good_font_2">{{Title}}</a></div>
							</div>
						</a>
					</div>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>